.teal {
    color: Teal;
}

.red {
    color: Red;
}

.blue {
    color: Blue;
}

.orange {
    color: Orange;
}

.purple {
    color: purple;
}

.olive {
    color: Olive;
}

.fuchsia {
    color: Fuchsia;
}

.green {
    color: Green;
}
